@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon/icomoon.eot');
	src:url('../fonts/icomoon/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon/icomoon.woff') format('woff'),
		url('../fonts/icomoon/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* General button style (reset) */
.btnOvr {
	border: none;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background: none;
	cursor: pointer;
	padding: 25px 50px;
	display: inline-block;
	margin: 5px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.btnOvr:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

/* Pseudo elements for icons */
.btnOvr:before,
.icon-heart:after,
.icon-star:after,
.icon-plus:after,
.icon-file:before {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	position: relative;
	-webkit-font-smoothing: antialiased;
}

/* Filled heart */
.icon-ofice:before {
	content: "\e602";
}

.icon-panel:before {
	content: "\e600";
}

.icon-ciudades:before {
	content: "\e603";
}

.icon-dmc:before {
	content: "\e601";
}

.icon-plus:before,
.icon-plus:after {
	content: "\e011";
}

/* Button 5 */
.btn-5 {
    /*background: #48647C;
	min-width: 260px;*/
	color: #fff;
	height: 70px;
   	width: 100%;
	line-height: 24px;
	font-size: 20px;
	overflow: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
}

.btn-5:active {
	opacity: 0.6;
	top: 2px;
}

.btn-5 span {
	display: inline-block;
	width: 100%;
	height: 100%;
	-webkit-transition: all 0.3s;
	-webkit-backface-visibility: hidden;
	-moz-transition: all 0.3s;
	-moz-backface-visibility: hidden;
	transition: all 0.3s;
	backface-visibility: hidden;
}

.btn-5:before {
    font-size: 240%;
    height: 100%;
    line-height: 1.5;
    position: absolute;
    transition: all 0.3s ease 0s;
    width: 100%;
}

.btn-5:active:before {
	/*color: #703b87;*/
	opacity: 0.6;
}

/* Button 5a */
.btn-5a:hover span {
	-webkit-transform: translateY(300%);
	-moz-transform: translateY(300%);
	-ms-transform: translateY(300%);
	transform: translateY(300%);
}

.btn-5a:before {
	left: 0;
	top: -110%;
}

.btn-5a:hover:before {
	top: 0;
}

/*----RECUADRO INFO------*/

.infoAcordeon {
    color: #fff;
    height: auto;
    margin: 0 auto;
    padding: 2% 5%;
    width: 80%;
}
