@charset "utf-8";
/* CSS Document */

/*-GENERALIDADES-*/
/*---------------*/
@font-face{
	font-family: 'texto';
	src: url('../fonts/texto.eot'); /* IE9 Compat Modes */
	src: url('../fonts/texto.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../fonts/texto.woff') format('woff'), /* Modern Browsers */
		 url('../fonts/texto.ttf')  format('truetype'); /* Safari, Android, iOS */
}

@font-face{
	font-family: 'titulo';
	src: url('../fonts/titulo.eot'); /* IE9 Compat Modes */
	src: url('../fonts/titulo.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../fonts/titulo.woff') format('woff'), /* Modern Browsers */
		 url('../fonts/titulo.ttf')  format('truetype'); /* Safari, Android, iOS */
}

.noColor {
	color:rgba(0,0,0,0) !important;
}

.colorBlanco {
	color:#fff !important;
}

.color1 {
	background-color:rgba(0,153,204,0.7) !important;
}

.color2 {
	background-color:rgba(51,102,255,0.7) !important;
}

.color3 {
	background-color:rgba(102,153,204,0.7) !important;
}

.top {
	margin-top: -2em !important;
}

html, body{
	margin:0;
	padding:0;
	overflow-x: hidden;
	height:100vh;
}

h1 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	font-size:6em;
	line-height:0.8em;
	color:#007A95;
	margin:0;
	padding:0;
}

h2 {
	font-family: 'Open Sans', sans-serif;
	color:#007A95;
	font-weight: 800;
    font-size: 3em;
    line-height: 1em;
	
	margin:0;
	padding:0;
}x

h3 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	color:#007A95;
	font-size:1em;
	font-style:italic;
	
	margin:0;
	padding:0;
}

h4 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	color:#007A95;
	font-weight:bold;
	font-size:2em;
	
	margin:0;
	padding:0;
}

p {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size:1.3em;
	color:#007A95;
	margin:0;
	padding:0;
}

.corridos {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size:1em;
	
	margin:0;
	padding:0;
}



.logo{
    background-color: ;
    background-image: url("../images/interfaz/logos.png");
    background-position: center center;
    background-repeat: no-repeat;
    float: right;
    height: 80px;
    padding: 0 0 0px 0px;
    position: relative;
    width: 340px;
}

.modal {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.9);
	z-index: 99999;
	overflow:auto;
}

.contenidoModal {
	/*background-color: #fff;*/
	color:#fff;
    min-height: 70%;
	height: auto;
    margin: 3% 0 0;
    width: 100%;
	overflow:auto;
}

.cierraModal {
	background: none;
	border:none;
    height: 50px;
    margin: 0 auto 2%;
    position: relative;
    width: 50px;
	background-image:url(../images/interfaz/cierra.svg);
	background-position:center;
	background-repeat:no-repeat;
	cursor:pointer;
	z-index: 10000;
	
	-webkit-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
	transition:all 0.3s ease;
}

.cierraModal:hover {
	opacity: 0.5;
}

.paginador2 {
	background-color: rgba(255, 255, 255, 0.2);
    bottom: 0;
    height: auto;
    position: fixed;
    text-align: center;
    width: 100%;
	padding: 1% 0;
}

.imagen {
	background-position:center center;
	background-size:cover;
    background-repeat:no-repeat;
}

.vid {
	margin:0 auto;
	text-align:center;
	display:block;
	width:47%;
	height:45vh;
	padding:0;
}

.txtDerecha {
	text-align:left !important;
}

.txtIzquierda {
	text-align:right !important;
}

.txtCentrado {
	text-align:center !important;
}

.contenedor {
	width:100vw;
	height:88vh;
	display:inline-block;
}

.botonera {
	width:100%;
	height:auto;
	margin:0;
	padding:15% 0 5%;
	/*background-color: #CFF;*/
	display:inline-block;
	text-align:center;
}

.botonera ul {
	list-style-type:none;
	text-align:center;
	margin: 0;
    padding: 0;
}

.botoneral ul li {
	display:block;
}

.botoneraH {
	width:100%;
	height:auto;
	margin:0;
	/*background-color: #CFF;*/
	display:inline-block;
	padding:5% 0 5%;
	text-align:center;
}

.botoneraH ul {
	list-style-type:none;
	text-align:center;
	margin: 0;
    padding: 0;
}

.botoneralH li {
	display:inline !important;
}

.BH {
	display:inline;
	margin-left:1%;
}

.rosado {
	background-color:#F3C;
}

.azul {
	background-color:#09F;
}

.azul1 {
	background-color:#007A95;
}

.naranja {
	background-color:#F60;
}

.naranja1 {
	background-color:#F19B00;
}

.rojo {
	background-color:#B6004B;
}

.amarillo {
	background-color:#FFCF00;
}

.gris {
	background-color:#6F6F6E;
}

.verde {
	background-color:#98BD1E;
}
.verde1 {
	background-color:#D8D600;
}

.image1
{ background-image:url(../images/t4/t4_1_1.svg);
background-repeat:no-repeat;
background-color:transparent;
}

.botonModal {
	width:auto;
	height:auto;
	padding:1em 2em;
	margin:1em auto;
	cursor:pointer;
	border:none;
	color:#fff;
}

.botonModal:hover {
	opacity:0.4;
}

.visto {
	background-color:rgba(0,0,0,0.3); !important;
}

/*----RSDIO BUTTON IMAGE-----*/
.paginador2 input[type=radio] {
	display:none;
}

.paginador2 label {
	border: 2px solid #fff;
    border-radius: 2em;
    color: #fff;
    display: inline-block;
    height: 1.5em;
    line-height: 1.5em;
    margin: 0.5em;
    padding: 0.5em;
    position: relative;
    width: 1.5em;
	cursor:pointer;
	
	-webkit-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
	transition:all 0.3s ease;
}

.paginador2 label:hover {
	opacity:0.4;
}



/*----RADIO BUTTON PREGUNTAS----*/
.radioPregunta {
	width:70%;
	height:auto;
	margin:0 auto;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	color:#007A95;azull
	font-weight: 600;
	font-size:1.3em;	
}

.radioPregunta input[type=radio] {
	display:none;
}

.radioPregunta label {
	cursor:pointer;
	position:relative;
	
	-webkit-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
	transition:all 0.3s ease;
}

.radioPregunta label:hover {
	opacity:0.4;
}

.radioPregunta label:before {
	background-color: rgba(0, 0, 0, 0.3);
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 2em;
    content: "";
    display: inline-block;
    height: 0.5em;
    margin: 0 0.5em;
    opacity: 0.5;
    padding: 0.2em;
    width: 0.5em;
}

.radioPregunta input[type=radio]:checked + label:before {
    content: "\2022";
    color: rgba(0, 0, 0, 0.7);
    font-size: 1em;
    text-align: center;
    line-height: 0.5em;
}

.retroMal {
	background-color: rgba(193, 39, 39, 0.95);
	min-height:20%;
    height: auto;
	width: 50%;
	padding:3%;
	position: fixed;
	top: 50%; 
	left: 50%;
	transform: translate(-50%, -40%);
	/*border-radius: 200px;*/
	box-shadow: 5px 5px 5px #5b1511;
}

.retroBien {
	background-color: rgba(136, 178, 65, 0.95);
    min-height:20%;
    height: auto;
	width: 50%;
	padding:3%;
	position: fixed;
	top: 50%; 
	left: 50%;
	transform: translate(-50%, -40%);
	/*border-radius: 200px;*/
	box-shadow: 5px 5px 5px #38511d;
}

.cierraRetro {
	background: none;
	border:none;
    height: 50px;
    left: 50%;
    margin: -25px;
    position: absolute;
    top: 82%;
    width: 50px;
	background-image:url(../images/interfaz/cierra.svg);
	background-position:center;
	background-repeat:no-repeat;
	cursor:pointer;
	
	-webkit-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
	transition:all 0.3s ease;
}

.cierraRetro:hover {
	opacity:0.4;
}

.textoRetro {
	color: #fff;
    font-family: 'Open Sans', sans-serif;
	font-weight: 300;
    font-size: 1.5em;
    margin: 0 5% 8%;
    text-align: center;
}

/*-------------------------*/

.moduloInt {
	width:100%;
	height:auto;
	/*background-color:#000;*/
	color:#fff;
	position:absolute;
	top:0;
	left:0;
	padding:0.7em 0 0.7em 0;
	text-align:center;
}

/**css flechas**/
.left{
    position: fixed;
    left: 2%;
    top: 50%;
    z-index: 999;
    /*background-color: rgba(256, 256, 256, 0.3); // blanco, transparencia 50%*/
    width: 30px;
    height: 80px;
	
	background-image:url(../images/interfaz/flechaNav.svg);
	background-position:center center;
	background-size:cover;
    background-repeat:no-repeat;
	
	-webkit-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
	transition:all 0.3s ease;
}

.right{
    position: fixed;
    right: 2%;
    top: 50%;
    z-index: 999;
    /*background-color: rgba(256, 256, 256, 0.3); // blanco, transparencia 50%*/
    width: 30px;
    height: 80px;
	
	background-image:url(../images/interfaz/flechaNav.svg);
	background-position:center center;
	background-size:cover;
    background-repeat:no-repeat;
	
	-webkit-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
	transition:all 0.3s ease;
}

.left:hover {
	opacity: 0.5;
}

.right:hover {
	opacity: 0.5;
}

#left_ln, #right_ln{
    cursor:pointer;
}

.flip {
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
}

/******RESPONSIVE******/

/*--Portada--*/
.full {
	width:100%;
	min-height:100%;
	height:auto;
	/*background-color:#FC0;*/
	text-align:center;
	position:relative;
	overflow:hidden;
}

.portadaCentral {
	width:480px;
	height:480px;
	/*background-color:#699;*/
	position:absolute;
	top:50%;
	left:50%;
	margin:-240px -240px;
	z-index:10;
}

.tituloPortada {
	position:absolute;	
	text-align:left;
	top:10%;
	left:15%;
	z-index:20;
	width: 75vw;
	/*width:8em;*/
}

/*--ContenidoSuperiorInferior--*/
.arriba {
	width:100%;
	height:40%;
	display:block;
	/*background-color:#669;*/
}

.abajo {
	width:100%;
	height:50%;
	display:block;
	/*background-color:#C90;*/
}

/*--contenidoImagenDerechaDescripcion--*/
.derecho {
	/*background-color:#09F*/;
	width:50%;
	height:100%;
	float:left;
	display:inline-block;
}

.izquierdo {
	/*background-color: #F69;*/
	width:50%;
	height:100%;
	float:right;
	display:inline-block;
}

.modulo {
    display: block;	
	text-transform:uppercase;
    width: 70%;
	margin:15% 15% 0;
}

.informacion {
    display: block;
    padding: 2em 15%;
    text-align: left;
    width: 70%;
}

/*.izquierdo .informacion {
	padding-top: 20% !important;
}

.derecho .informacion {
	padding-top: 20% !important;
}

.arriba .informacion {
	padding-top: 5% !important;
}

.abajo .informacion {
	padding-top: 5% !important;
}

.arriba .izquierdo .informacion {
	padding-top: 1em !important;
}

.arriba .derecho .informacion {
	padding-top: 1em !important;
}

.abajo .izquierdo .informacion {
	padding-top: 1em !important;
}

.abajo .derecho .informacion {
	padding-top: 1em !important;
}*/

.recurso {
	display:block;
	width:100%;
	text-align:center;
	padding-top: 10%;
}

.aplicacion {
	width:100%;
	height:60%;
	min-width:550px;
	min-height:400px;
	/*background-color:#9C0;*/
	margin: 0 auto;
}

.descripcion {
    display: block;
    padding: 2em 10%;
    width: 80%;;
}

/*----SELECTOR----*/

.selector {
	height: auto;
    margin: 0 auto;
    width: 80%;
}

.selector ul{
	list-style:none;
	counter-reset:li;
	width:100%;
	margin: 0;
    padding: 0;
}

.selector li{
	position:relative;
	margin:0 0 10px 0;
	padding: 3px 2px 0 17px;
	left:-5px;
	width:100%;
	border-radius: 3em 0 0 3em;
	
	cursor:pointer;
}
.selector ul li{
	position: relative;
	display: block;
	padding: .4em .2em .4em 2em;
	*padding: .2em;
	margin: .5em 0;
	text-decoration: none;

	-webkit-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
	transition:all 0.3s ease; 
}

.selector ul li:before{
	background-color: rgba(0, 0, 0, 0.3);
    border: 3px solid #fff;
    border-radius: 2em;
    box-shadow: 0 5px 10px 0 #fff;
    color: #fff;
    content: counter(li, decimal);
    counter-increment: li;
    font-size: 1.3em;
    font-weight: 600;
    height: 2em;
    left: 0;
    line-height: 2em;
	margin: -1.2em 1em;
    position: absolute;
    text-align: center;
    top: 50%;
    transition: all 0.3s ease-out 0s;
    width: 2em;
}
.selector ul li:hover{
	background: #eee;
}
.selector ul li:hover:before{
	transform: rotate(360deg);   
}
.selector ul li span{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size:1.3em;
	color: #fff;
	display:block;
	min-height:25px;
	text-decoration:none;
	padding: 0.5em 3em;
	
	-webkit-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
	transition:all 0.3s ease;
}
	
@media only screen and (max-width: 800px) {
	h1 {
		font-family: 'Open Sans', sans-serif;
		font-weight: 800;
		font-size:3.5em;
		line-height:0.9em;
		
		margin:0;
		padding:0;
	}
	
	h2 {
		font-family: 'Open Sans', sans-serif;
		font-weight: 800;
		font-size: 3em;
		line-height: 1em;
		
		margin:0;
		padding:0;
	}
	
	h4 {
		font-family: 'Open Sans', sans-serif;
		font-weight: 600;
		font-weight:bold;
		font-size:1.5em;
		
		margin:0;
		padding:0;
	}
	
	.vid {
		margin:0 auto;
		text-align:center;
		display:block;
		width:90%;
		height:45vh;
		padding:0;
	}
	
	.contenedor {
		width:100vw;
		height:88vh;
		display:block;
	}
	
	.derecho {
		/*background-color:#09F;*/
		width:100%;
		min-height:100vh;
		height:auto;
		display:block;
	}
	
	.izquierdo {
		/*background-color: #F69;*/
		width:100%;
		min-height:100vh;
		height:auto;
		display:block;
	}
	
	.recurso {
		display:block;
		width:100%;
		text-align:center;
		margin-top: 0 !important;
	}

	.aplicacion {
		width:100%;
		height:100%;
		/*background-color:#9C0;*/
	}
	
	.tituloPortada {	
		position:absolute;
		text-align:left;
		top:10%;
		left:10%;
		z-index:20;
		/*width:8em;*/
	}
	
	.descripcion {
		display: block;
		padding: 1em 10%;
		width: 80%;
	}
	
	.arriba {
		width:100%;
		min-height:50%;
		height:auto;
		display:block;
		/*background-color:#669;*/
	}
	
	.abajo {
		width:100%;
		min-height:50%;
		height:auto;
		display:block;
		/*background-color:#C90;*/
	}
}

/*---------VERTICAL-----------*/
@media screen and (min-width: 720px) and (max-width: 1280px) and (orientation:portrait) {
	h1 {
		font-family: 'Open Sans', sans-serif;
		font-weight: 800;
		font-size:9em;
		line-height:1em;
		
		margin:0;
		padding:0;
	}
	
	h2 {
		font-family: 'Open Sans', sans-serif;
		font-weight: 800;
		font-size: 4em;
		line-height: 1em;
		
		margin:0;
		padding:0;
	}
	
	h3 {
		font-family: 'Open Sans', sans-serif;
		font-weight: 600;
		font-size:2em;
		font-style:italic;
		
		margin:0;
		padding:0;
	}
	
	h4 {
		font-family: 'Open Sans', sans-serif;
		font-weight: 600;
		font-size:3em;
		
		margin:0;
		padding:0;
	}
	
	p {
		font-family: 'Open Sans', sans-serif;
		font-weight: 300;
		font-size:2.5em;
		
		margin:0;
		padding:0;
	}
	
	.corridos {
		font-family: 'Open Sans', sans-serif;
		font-weight: 300;
		font-size:2em;
		
		margin:0;
		padding:0;
	}
	
	.textoRetro {
		color: #fff;
		font-family: 'Open Sans', sans-serif;
		font-weight: 300;
		font-size: 2.5em;
		margin: 0 5% 40%;
		text-align: center;
	}
	
	.cierraRetro {
		background: none;
		border:none;
		height: 50px;
		left: 50%;
		margin: -25px;
		position: fixed;
		top: 90%;
		width: 50px;
		background-image:url(../images/interfaz/cierra.svg);
		background-position:center;
		background-repeat:no-repeat;
		cursor:pointer;
	}
	
	.retroMal {
		background-color: rgba(193, 39, 39, 0.95);
		box-shadow: 5px 5px 5px #5b1511;
		height: auto;
		left: 50%;
		min-height: 20%;
		padding: 3%;
		position: fixed;
		top: 50%;
		transform: translate(-50%, -30%);
		width: 70%;
	}
	
	
	.logo {
		background-color: #fff;
		background-image: url("../images/interfaz/logos.png");
		background-position: center center;
		background-repeat: no-repeat;
		float: right;
		height: 70px;
		padding: 3px 0;
		position: relative;
		width: 330px;
	}

	.left{
		position: fixed;
		left: 2%;
		top: 50%;
		z-index: 999;
		/*background-color: rgba(256, 256, 256, 0.3); // blanco, transparencia 50%*/
		width: 4vw;
		height: 10vh;
		
		background-image:url(../images/interfaz/flechaNav.svg);
		background-position:center center;
		background-size:cover;
		background-repeat:no-repeat;
	}
	
	.right{
		position: fixed;
		right: 2%;
		top: 50%;
		z-index: 999;
		/*background-color: rgba(256, 256, 256, 0.3); // blanco, transparencia 50%*/
		width: 4vw;
		height: 10vh;
		
		background-image:url(../images/interfaz/flechaNav.svg);
		background-position:center center;
		background-size:cover;
		background-repeat:no-repeat;
	}
	
	.contenedor {
		width:100vw;
		height:100%;
		display:block;
	}
	
	.vid {
		margin:0 auto;
		text-align:center;
		display:block;
		width:90%;
		height:35vh;
		padding:0;
	}
	
	.modulo {
		display: block;	
		text-transform:uppercase;
		width: 90%;
		margin:5% 5% 0;
	}
	
	.moduloInt {
		width:100%;
		height:auto;
		/*background-color:#000;*/
		color:#fff;
		position:absolute;
		top:0;
		left:0;
		padding:1em 0 1em 0;
		text-align:center;
	}
	
	.portadaCentral {
		width:100%;
		height:100%;
		margin:-50%;
		/*background-color:#699;*/
		position:absolute;
		z-index:10;
	}
	
	.tituloPortada {
		position:absolute;	
		text-align:left;
		top:10%;
		left:10%;
		z-index:20;
		/*width:8em;*/
	}
	
	.botonera {
		width:100%;
		height:auto;
		margin:0;
		padding:25% 0 5% 0;
		/*background-color: #CFF;*/
		display:block;
	}
	
	.derecho {
		/*background-color:#09F;*/
		width:100%;
		min-height:100vh;
		height:auto;
		display:block;
	}

	.izquierdo {
		/*background-color: #F69;*/
		width:100%;
		min-height:100vh;
		height:auto;
		display:block;
	}
	
	.arriba {
		width:100%;
		height:auto;
		display:block;
		/*background-color:#669;*/
	}
	
	.abajo {
		width:100%;
		height:auto;
		display:block;
		/*background-color:#C90;*/
	}
	

}

/*---------HORIZONTAL-------------*/
@media only screen and (max-width: 740px) and (orientation:landscape) {
	h3 {
		font-family: 'Open Sans', sans-serif;
		font-weight: 600;
		font-size:1.5em;
		font-style:italic;
		
		margin:0;
		padding:0;
	}
	
	p {
		font-family: 'Open Sans', sans-serif;
		font-weight: 300;
		font-size:2em;
		
		margin:0;
		padding:0;
	}
	
	.corridos {
		font-family: 'Open Sans', sans-serif;
		font-weight: 300;
		font-size:1.5em;
		
		margin:0;
		padding:0;
	}
	
	.textoRetro {
		color: #fff;
		font-family: 'Open Sans', sans-serif;
		font-weight: 600;
		font-size: 2em;
		margin: 0 5% 8%;
		text-align: center;
	}
	
	.vid {
		margin:0 auto;
		text-align:center;
		display:block;
		width:80%;
		height:90vh;
		padding:0;
	}
	
	.tituloPortada {
		left: 10%;
		position: absolute;
		text-align: left;
		top: 20%;
		z-index: 20;
	}
	
	.arriba {
		width:100%;
		min-height:50%;
		height:auto;
		display:block;
		/*background-color:#669;*/
	}
	
	.abajo {
		width:100%;
		min-height:50%;
		height:auto;
		display:block;
		/*background-color:#C90;*/
	}
	
	.botonera {
		width:100%;
		height:auto;
		margin:0;
		padding:25% 0 5% 0;
		/*background-color: #CFF;*/
		display:inline-block;
	}
	
	.botoneraH {
		width:100%;
		height:auto;
		margin:0;
		/*background-color: #CFF;*/
		display:inline-block;
		padding:5% 0 5%;
		text-align:center;
	}
}

/*---------HORIZONTAL MOROTOLA---------------*/
@media screen 
  and (min-device-width: 320px) 
  and (max-device-width: 720px) 
  and (orientation: landscape) {
	  h3 {
		  font-family: 'Open Sans', sans-serif;
		  font-weight: 600;
		  font-size:1.5em;  
		  font-style:italic;
		  
		  margin:0;
		  padding:0;
		}
	  
	  p {
		font-family: 'Open Sans', sans-serif;
		font-weight: 300;
		font-size:2em;
		
		margin:0;
		padding:0;
	}
	
	.corridos {
		font-family: 'Open Sans', sans-serif;
		font-weight: 300;
		font-size:1.5em;
		
		margin:0;
		padding:0;
	}
	
	.textoRetro {
		color: #fff;
		font-family: 'Open Sans', sans-serif;
		font-weight: 300;
		font-size: 2em;
		margin: 0 5% 8%;
		text-align: center;
	}
	
	.vid {
		margin:0 auto;
		text-align:center;
		display:block;
		width:80%;
		height:90vh;
		padding:0;
	}

	.tituloPortada {
		left: 10%;
		position: absolute;
		text-align: left;
		top: 20%;
		z-index: 20;
	}
	
	.arriba {
		width:100%;
		min-height:50%;
		height:auto;
		display:block;
		/*background-color:#669;*/
	}
	
	.abajo {
		width:100%;
		min-height:50%;
		height:auto;
		display:block;
		/*background-color:#C90;*/
	}
	
	.botonera {
		width:100%;
		height:auto;
		margin:0;
		padding:25% 0 5%;
		/*background-color: #CFF;*/
		display:inline-block;		
	}
	
	.botoneraH {
		width:100%;
		height:auto;
		margin:0;
		/*background-color: #CFF;*/
		display:inline-block;
		padding:5% 0 5%;
		text-align:center;
	}
}