radiopregunta.container{
    position: relative;
	width:100vw;
	height:88vh;
	/*overflow: hidden;*/
}
.push-down{
    height: auto;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
}
.menu-principal{
    background-color: rgba(5, 122, 150, 0.9);
    -webkit-transition: margin 1s ease;
    transition: margin 1s ease;
    min-height: 75px;
}


.container.pushed .menu-principal{
    margin-top: 65px;
}
#contenido{
    height: 100%;
    /*background-color: #f96e5b;*/
}
.button{
    background-image: url("../images/interfaz/menu.svg");
	background-repeat:no-repeat;
    display: inline-block;
    height: 25px;
    margin: 1.5%;
    width: 40px;
	
	-webkit-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
	transition:all 0.3s ease;
}

.button:hover {
	opacity:0.5;
}
/**Estilos del menú**/
#cssmenu {
    width: auto;
	font-family: 'titulo';
}
#cssmenu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 1;
    display: block;
    zoom: 1;
}
#cssmenu ul:after {
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    clear: both;
    visibility: hidden;
}
#cssmenu ul li {
    display: inline-block;
    padding: 0;
    margin: 0;
}
#cssmenu.align-right ul li {
    float: right;
}
#cssmenu.align-center ul {
    text-align: center;
}
#cssmenu ul li a {
    color: #ffffff;
    text-decoration: none;
    display: block;
    padding: 15px 25px;
    font-family: 'texto', sans-serif;
    text-transform: uppercase;
    font-size: 1em;
    position: relative;
    -webkit-transition: color .25s;
    -moz-transition: color .25s;
    -ms-transition: color .25s;
    -o-transition: color .25s;
    transition: color .25s;
}
#cssmenu ul li a:hover {
    color: #333333;
}
#cssmenu ul li a:hover:before {
    width: 100%;
}
#cssmenu ul li a:after {
    content: "";
    display: block;
    position: absolute;
    right: -3px;
    top: 19px;
    height: 6px;
    width: 6px;
    background: #ffffff;
    opacity: .5;
}
#cssmenu ul li a:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 0;
    background: #333333;
    -webkit-transition: width .25s;
    -moz-transition: width .25s;
    -ms-transition: width .25s;
    -o-transition: width .25s;
    transition: width .25s;
}
#cssmenu ul li.last > a:after,
#cssmenu ul li:last-child > a:after {
    display: none;
}
#cssmenu ul li.active a {
    color: #333333;
}
#cssmenu ul li.active a:before {
    width: 100%;
}
#cssmenu.align-right li.last > a:after,
#cssmenu.align-right li:last-child > a:after {
    display: block;
}
#cssmenu.align-right li:first-child a:after {
    display: none;
}


#progressBar {
    width: 100%;
    height: 3px;
    background-color: rgba(0,0,0,0.4);
	/*background-color:#75F67D;*/
}
#progressBar div {
    height: 100%;
    color: #fff;
    text-align: right;
    line-height: 22px; /* same as #progressBar height if we want text middle aligned */
    width: 0;
    background-color: #fff;
}