<script>
	escribe();
</script>

<div class="contenedor">
	<div class="full">
  		<div class="tituloPortada txtDerecha">
        	<h1 id="tit">&nbsp;
            	
            </h1>
        </div>
    	<div class="portadaCentral imagen" style="background-image:url(images/t0/portada.svg)">
      		&nbsp;
      	</div>
  	</div>
</div>