<script>
	escribe();
	btn();
</script>

<div class="modal" id="modal">
	<div class="contenidoModal" id="contModal">
    	&nbsp;
    </div> 
</div>

<div class="contenedor">
	<div class="arriba">
    	<div class="informacion">
<h2><strong>Cobertura geográfica</strong></h2>
            <br/><br/>
            <p>Como sucede con otras investigaciones, el CEED se realiza a nivel nacional. En total, esta operación se lleva a cabo en 53 municipios del país, que conforman doce áreas urbanas, tres áreas metropolitanas y Cundinamarca. Veamos el siguiente mapa: las áreas urbanas que cubre el CEED están marcadas con un punto de color rojo; las áreas metropolitanas, con uno azul; y los municipios de Cundinamarca, con uno verde. Al dar clic sobre un botón de cada color, se podrán ver las listas de los municipios.</p>
      	</div>
    </div>
    
    <div class="abajo">
		<!--Esta seria la botonera Horizontal--->
        <div class="botoneraH">
        	<ul id="botones">
            	<li class="BH"><button class="botonModal rojo" id="b1" name="contents/emergentes/t1/t1_3_"><h4>Áreas urbanas en donde se desarrolla el CEED</h4></button></li>
                <li class="BH"><button class="botonModal azul" id="b2" name="contents/emergentes/t1/t1_3_"><h4>Áreas metropolitanas en donde se desarrolla el CEED</h4></button></li>
                <li class="BH"><button class="botonModal verde" id="b3" name="contents/emergentes/t1/t1_3_"><h4>Municipios de Cundinamarca en donde se desarrolla el CEED</h4></button></li>
          	</ul>  	
        </div>
        
    </div>
</div>