<link href="../../../css/estilos.css" rel="stylesheet" type="text/css" />
<script src="../../../js/functions.js"></script>

<script>

	var cont1 = "<div class='derecho'><div class='informacion'><h2 class='txtDerecha'>Ahora pasamos a la estilización con CSS.</h2></div></div><div class='izquierdo'><div class='informacion txtDerecha'><p>Esta es la parte que mas me gusta!<br/>Primero entonces ocultamos el checkbox (como comenté al principio) modificando las propiedades de la etiqueta INPUT procurando que solo la aplique a las de tipo 'checkbox'.</p></div></div>";
	
	var cont2 = "<div class='derecho'><div class='informacion'><h2 class='txtDerecha'>Estilizando Checkbox y Radiobutton con CSS3 (sin JS)</h2></div></div><div class='izquierdo'><div class='informacion txtDerecha'><p>La estilización de un formulario de contacto, es importante para darle una buena experiencia al usuario que navega nuestro sitio.<br/><br/>Aquí una forma muy simple de estilizar Checkbox y Radiobutton solo con CSS3, compatible con Chrome, Firefox y IE9 o mayor.<br/><br/>Por medio de la tecnología de CSS3 podemos estilizar y personalizar los checkbox y radiobuttons de nuestros formularios, usando el pseudo selector llamado :checked</p></div></div>";
	
	var cont3 = "<div class='derecho'><div class='informacion'><h2 class='txtDerecha'>En HTML creamos el checkbox</h2></div></div><div class='izquierdo'><div class='informacion txtDerecha'><p>De esta forma aplicamos estilos a la etiqueta SPAN dentro de LABEL, asignándole la imagen SPRITE antes comentada como background.<br/><br/>Al aplicar la imagen contra la izquierda (LEFT), contra arriba (TOP), y con un ancho y alto de 19px, entonces solo mostrará la parte izquierda superior de la imagen SPRITE en un area de 19 x 19px.<br/><br/>Entonces nuestro código completo hasta aquí seria:</p></div></div>"
	
	var cont4 = "<div class='derecho'><div class='informacion'><h2 id='subTit'>&nbsp;</h2><br/><br/><p>Una media query consiste en un tipo de medio y al menos una consulta que limita las hojas de estilo utilizando características del medio como ancho, alto y color. Añadido en CSS3, las media queries dejan que la presentación del contenido se adapte a un rango específico de dispositivos de salida sin tener que cambiar el contenido en sí.</p></div></div><div class='izquierdo imagen' style='background-image:url(images/t1/modeloRelacion8horiz-9vert.svg); height:70vh'>&nbsp;</div></div>"
	
	$("#contenidosIn").html(cont1);
	
	$("#close").click(function(){
		cerrar();
	});
</script>

</head>

<body>
	<div class="cierraModal" id="close">
    	&nbsp;
    </div>
    
    <div class="full" id="contenidosIn">
        &nbsp;
  	</div>
    
    <div class="paginador2">
        <label class="corridos"><input type="radio" name="paginas" id="cont1" checked="checked" onClick="if(this.checked==true) cambiaTxt(this.id);">1</label>
        
        <label class="corridos"><input type="radio" name="paginas" id="cont2" onClick="if(this.checked==true) cambiaTxt(this.id);">2</label>

        <label class="corridos"><input type="radio" name="paginas" id="cont3" onClick="if(this.checked==true) cambiaTxt(this.id);">3</label>
        
        <label class="corridos"><input type="radio" name="paginas" id="cont4" onClick="if(this.checked==true) cambiaTxt(this.id);">4</label>
    </div>
        
</body>
</html>
