<script>
	escribe();
</script>
<title>El papel del DANE</title>
<div class="contenedor">
	<div class="arriba">
    	<div class="informacion">
            <h2><strong>El papel del DANE en el país </strong></h2>
            <br/>
            <p>Antes de entrar en detalles sobre el Censo de Edificaciones quisimos recordar qué es el Departamento Administrativo Nacional de Estadística (abreviado como DANE) y cuál es su principal función. Pues bien, el DANE es una entidad pública gubernamental y se encarga de producir y difundir información estadística estratégica, que luego será usada para la toma de decisiones que contribuyan al desarrollo económico y social de nuestro país. El siguiente video nos servirá para conocer más detalles sobre esta entidad. Haga clic para reproducirlo.
      	</div>
    </div>
  <div class="abajo">
        <div class="vid">
  			<iframe width="100%" height="100%" src="https://www.youtube.com/embed/yHzC44Efzlc" frameborder="0" allowfullscreen></iframe>
		</div>
    </div>
</div>