<script>
	escribe();
	btn();
</script>

<div class="modal" id="modal">
	<div class="contenidoModal" id="contModal">
    	&nbsp;
    </div> 
</div>

<div class="contenedor">
	<div class="arriba">
    	<div class="informacion">
            <p>Al participar en el proceso de recolección de las investigaciones que realiza el DANE, debemos asumir, entonces, el compromiso de velar por la calidad de la información recogida y por una adecuada atención a los ciudadanos que proporcionan sus datos para operaciones tales como el CEED.</br></br>

En relación con esto último, es necesario explicarles a los entrevistados en qué consiste la reserva estadística. Es decir, se les debe aclarar que, de acuerdo con el artículo 5 de la Ley 79 de 1993, cuando el DANE presenta los resultados de sus investigaciones lo hace mediante resúmenes numéricos, pero no entrega nunca datos personales de aquellos que hayan sido encuestados. Para consultar concretamente lo que dicta la norma, se puede hacer clic en el siguiente botón.</p>
      	</div>
    </div>
    
    <div class="abajo">
		<!--Esta seria la botonera Horizontal--->
        <div class="botoneraH">
        	<ul id="botones">
            	<li class="BH"><button class="botonModal naranja1" id="b1" name="contents/emergentes/t1/t1_3_"><h4>Art. 5, Ley 79/1993</h4></button></li>              
          	</ul>  	
        </div>
        
    </div>
</div>