<script>
	escribe();
	selector();
</script>

<div class="contenedor">
	<div class="full">
    
    	<div class="informacion txtCentrado">
            <h2 id="subTit">&nbsp;
            	
            </h2>
            <br/><br/>
            <p>A continuaci&oacute;n encontrar&aacute; una serie de opciones entre las cuales debe seleccionar la correcta.
      	</div>
        
        <div class="informacion">
        
        	<!---------------------->
			<div class="selector">
            	<ul>
                	<li class="color1" id="uno">
                        <span>
                        	Esta seria la informacion que desplegaria este item en particular, claro que hace falta ver la verdadera extension de este tipo de contenidos
                        </span>
                    </li>
                    
                    <li class="color2" id="dos">
                        <span>
                        	Este es el otro parrafo de informacion que corresponderia al item, paso, instancia, numeral, paragrafo, o lo que sea, numero 2.
                        </span>
                    </li>
                    
                    <li class="color3" id="tres">
                        <span>
                        	Este es el otro parrafo de informacion que corresponderia al item, paso, instancia, numeral, paragrafo, o lo que sea, numero 2.
                        </span>
                    </li>
                    
                </ul>
            </div>
        	<!---------------------->
            
        </div>

    </div>  
</div>