<script>
	escribe();
	btn();
</script>
<link href="../../css/style.css" rel="stylesheet" type="text/css" />


<div class="modal" id="modal">
	<div class="contenidoModal" id="contModal">
    	&nbsp;
    </div> 
</div>

<div class="contenedor">
	<div class="arriba">
    	<div class="informacion">
            </h2>
            <p>El segundo grupo de obras que son objeto de estudio del CEED son aquellas que están paralizadas, es decir, edificaciones que al momento del censo no están generando ninguna actividad constructora. Estas, a su vez, se dividen como sigue (haga clic para ver la definición).
</p>
      	</div>
    </div>
    
    <div class="abajo">
		<!--Esta seria la botonera Horizontal--->
        <div class="botoneraH">
        	<ul id="botones">
            	<li class="BH"><button class="botonModal image1 " id="b1" name="contents/emergentes/t4/t4_1_">
            	<h4>&nbsp;</h4></button></li>
                <li class="BH"><button class="botonModal rojo" id="b2" name="contents/emergentes/t4/t4_2_"><h4>Obras nuevas</h4></button></li>
                <li class="BH"><button class="botonModal rojo" id="b3" name="contents/emergentes/t4/t4_3_"><h4>Obras que continúan en proceso</h4></button></li>
                <li class="BH"><button class="botonModal rojo" id="b4" name="contents/emergentes/t4/t4_4_"><h4>Obras que reinician actividad</h4></button></li>
                <li class="BH"><button class="botonModal naranja1" id="b5" name="contents/emergentes/t4/t4_5_"><h4>Obras que ingresan al universo por ampliación de cobertura</h4></button></li>
                <li class="BH"><button class="botonModal naranja1" id="b5" name="contents/emergentes/t4/t4_6_"><h4>Ampliaciones</h4></button></li>
          	</ul>  	
        </div>
        
    </div>
</div>