<script>
	escribe();
	acord();
</script>

<div class="contenedor">
	<div class="full">
    
    	<div class="informacion txtCentrado">
            <br/><br/>
            <p>El segundo grupo de obras que son objeto de estudio del CEED son aquellas que están paralizadas, es decir, edificaciones que al momento del censo no están generando ninguna actividad constructora. Estas, a su vez, se dividen como sigue (haga clic para ver la definición). 
      	</div>
        
        <div class="informacion top">
        	
            <div class="acordeon">

                <h2>
                	<button class="btnOvr btn-5 btn-5a icon-ofice color1"><span>Obras inactivas o paralizadas nuevas</span></button>
                </h2>
    			
                <div class="infoAcordeon color1">
                <div class="derecho imagen" style=" background-image:url(images/t4/t4_1.svg)">
                	<p>Corresponden a las edificaciones que al momento del censo ingresan al grupo de paralizadas, aunque estuvieran activas en el censo anterior o porque fueron encontradas por primera vez. Es importante tener en cuenta que se incluyen las obras paralizadas realizadas por constructores formales para todos los estratos, y las obras de autoconstrucción, con o sin licencia, en los estratos 3, 4, 5 y 6. En el caso de las obras paralizadas por autoconstrucción en los estratos 1 y 2, se incluyen aquellas superiores o iguales a los 500 m2.
</p>
                </div>
                </div>
    
                <h2>
                	<button class="btnOvr btn-5 btn-5a icon-panel color2"><span>Obras que continúan inactivas</span></button>
                </h2>
    			
                <div class="infoAcordeon color2">
                	<p>Son todas aquellas edificaciones que en el censo anterior se encontraron paralizadas y que, en el actual, continúan en ese mismo estado.!</p>
               	</div>
    
    			
				<!---------------------->
    
            </div>
        	
        </div>

    </div>  
</div>