<script>
	escribe();
	selector();
</script>

<div class="contenedor">
	<div class="full">
    
    	<div class="informacion txtCentrado">
            <p>Entonces, sea esta la oportunidad para mencionar que existen ciertos tipos de obras que se excluyen del universo de estudio del CEED. ¡Veamos cuáles son! Para descubrir la información, haga clic sobre los números.
      	</div>

      <div class="informacion">
        
        	<!---------------------->
			<div class="selector">
            	<ul>
                	<li class="color1" id="uno">
                        <span>
                        	Las obras de ingeniería civil, ya que son objeto de medición de otra investigación (p. ej. carreteras, puentes, estaciones eléctricas, túneles).
                      </span>
                    </li>
                    
                    <li class="color2" id="dos">
                        <span>
                        	Las reformas entendiéndose como tal: el proceso de reparar una edificación sin alterar su diseño estructural (p. ej. la pintura de una fachada o de espacios interiores, resanes).
                      </span>
                    </li>
                    
                    <li class="color3" id="tres">
                        <span>
                        	Las obras abandonadas: aparentemente están paralizadas, pero su estado es de deterioro y presentan abandono por amplio margen de tiempo. Se detectan por observación directa.
                      </span>
                    </li>
                     <li class="color3" id="cuatro">
                        <span>
                        	Las demoliciones, totales o parciales. Solamente serán objeto de medición cuando sobre el área demolida se inicie una nueva construcción.
                        </span>
                    </li>
                    
                </ul>
            </div>
        	<!---------------------->
            
        </div>

    </div>  
</div>