<script>
	escribe();
	ocultaRetro();
</script>

<div class="contenedor">
	<div class="full">
    	<div class="informacion txtCentrado">
            <p>¡Hagamos una parada en el camino y retomemos uno de los temas que hemos visto! Para ello, lea el siguiente texto y elija la opción que sea más adecuada para completar el enunciado.</p>
      	</div>
        <div class="informacion">
        	<div class="radioPregunta">
                <input type="radio" name="gato" id="frase1" onclick="if(this.checked==true) errado();">
                <label for="frase1">1.	Es posible establecer el estado y área de las obras en cada periodo intercensal.</label>
                <br/><br/>
                <input type="radio" name="gato" id="frase2" onclick="if(this.checked==true) acierta();">
                <label for="frase2">2.	Es posible realizar el seguimiento detallado a través del tiempo de cada una de las obras objeto del estudio. </label>
                <br/><br/>
                <input type="radio" name="gato" id="frase3" onclick="if(this.checked==true) errado();">
                <label for="frase3">3.	Permite realizar el seguimiento de las unidades vendidas para aquellos proyectos ejecutados con el fin de ser ofrecidos en el mercado inmobiliario.</label>
                <br/><br/>
                <input type="radio" name="gato" id="frase3" onclick="if(this.checked==true) errado();">
                <label for="frase4">4.	Se puede determinar la cantidad de metros cuadrados y el número de unidades por destino, en las áreas de cobertura, en cada periodo intercensal.</label>
                <br/><br/>
                
            </div>
        </div>
    </div>
    
    <div id="mal" class="retroMal">
        <button class="cierraRetro" name="mal" onclick="cierraVentana(this.name)">&nbsp;</button>
        <div class="textoRetro">
        ¡No has acertado! Te recomendamos volver a estudiar el apartado de ¿Qué es el Censo de Edificaciones? 
        </div>
    </div>
    
    <div id="bien" class="retroBien">
        <button class="cierraRetro" name="bien" onclick="cierraVentana(this.name)">&nbsp;</button>
        <div class="textoRetro">
         Muy bien! Como el CEED se basa en la técnica estadística de panel longitudinal, la información registrada en los censos anteriores sirve para cotejar y realizar seguimiento a una misma obra.  
        </div>
    </div>

</div>