<script>
	escribe();
	acord();
</script>

<div class="contenedor">
	<div class="full">
    
    	<div class="informacion txtCentrado">
            <br/><br/>
            <p>A ¡Veamos cuáles son las principales características del CEED!<br/><br/>
            Haga clic en cada botón para poder leer la respectiva descripción. 
      	</div>
        
        <div class="informacion top">
        	
            <div class="acordeon">

                <h2>
                	<button class="btnOvr btn-5 btn-5a icon-ofice color1"><span>Panel longitudinal</span></button>
                </h2>
    			
                <div class="infoAcordeon color1">
                	<p>El CEED utiliza la técnica estadística de panel longitudinal. Esto quiere decir que en cada censo se visitan los mismos lugares donde se desarrollan procesos de construcción, con la intención de conocer el comportamiento y estado de las edificaciones a través del tiempo. Claro está que, además de realizar la actualización de la información que se haya solicitado en censos anteriores, el CEED también indaga por las nuevas obras de construcción. Gracias a este control y seguimiento detallado de cada obra entre censo y censo, es posible:

•	Determinar la duración real de las obras que conforman el marco censal.
•	Observar directamente la velocidad del proceso edificador de las obras nuevas.
•	Caracterizar el marco censal según el estado de las obras.
•	Realizar un seguimiento de la evolución de precios por destino.
</p>
                </div>
    
                <h2>
                	<button class="btnOvr btn-5 btn-5a icon-panel color2"><span>Recolección con DMC</span></button>
                </h2>
    			
                <div class="infoAcordeon color2">
                	<p>Es importante mencionar también que en esta operación estadística la recolección de la información se lleva a cabo mediante el Dispositivo Móvil de Captura (o DMC) y que, como existen obras de construcción que fueron visitadas en censos anteriores, habrá información que ya viene prediligenciada en él. ¡Estos aspectos, que son importantes para los encuestadores, los estudiaremos con más detalle en nuestros próximos materiales de estudio!</p>
               	</div>
    
                <h2>
                	<button class="btnOvr btn-5 btn-5a icon-ciudades color3"><span>Resultados trimestrales</span></button>
                </h2>
    			
                <div class="infoAcordeon color3">
                	<p>En el CEED, el proceso de recolección de la información es continuo durante todo el año; es decir, mensualmente, el equipo de trabajo de campo (ya veremos más adelante quiénes son sus miembros) se desplaza hacia las zonas del país a su cargo y censa las obras de construcción correspondientes. Ahora bien, una misma obra se visita cada tres meses, de manera que se censa cuatro veces en el año. Es por ello, que, para dar cuenta del control y seguimiento detallado por obra, el CEED entrega resultados trimestralmente.</p>
                </div>
				<!---------------------->
    
            </div>
        	
        </div>

    </div>  
</div>