<script>
	escribe();
</script>

<div class="contenedor">
    
	<div class="derecho imagen" style=" background-image:url(images/t1/modeloRelacion8horiz-9vert.svg)">
    	<div class="informacion">
        	<h2 id="subTit">
            	&nbsp;	
          	</h2>
        </div>
    </div>
    
    <div class="izquierdo">
    	<div class="informacion">
        	<p>Una media query consiste en un tipo de medio y al menos una consulta que limita las hojas de estilo utilizando características del medio como ancho, alto y color. Añadido en CSS3, las media queries dejan que la presentación del contenido se adapte a un rango específico de dispositivos de salida sin tener que cambiar el contenido en sí.</p>
        </div>
    </div>
</div>
