<script>
	escribe();
	btn();
</script>

<div class="modal" id="modal">
	<div class="contenidoModal" id="contModal">
    	&nbsp;
    </div> 
</div>

<div class="contenedor">
	<div class="arriba">
    	<div class="informacion">
            <h2 id="subTit">&nbsp;
            	
            </h2>
            <br/><br/>
            <p>Una media query consiste en un tipo de medio y al menos una consulta que limita las hojas de estilo utilizando características del medio como ancho, alto y color. Añadido en CSS3, las media queries dejan que la presentación del contenido se adapte a un rango específico de dispositivos de salida sin tener que cambiar el contenido en sí. <br/><br/>
            Una media query consiste en un tipo de medio y al menos una consulta que limita las hojas de estilo utilizando características del medio como ancho, alto y color. Añadido en CSS3, las media queries dejan que la presentación del contenido se adapte a un rango específico de dispositivos de salida sin tener que cambiar el contenido en sí.</p>
      	</div>
    </div>
    
    <div class="abajo">
		<!--Esta seria la botonera Horizontal--->
        <div class="botoneraH">
        	<ul id="botones">
            	<li class="BH"><button class="botonModal rosado" id="b1" name="contents/emergentes/t1/t1_3_"><h2>MODAL 01</h2></button></li>
                <li class="BH"><button class="botonModal azul" id="b2" name="contents/emergentes/t1/t1_3_"><h2>MODAL 02</h2></button></li>
                <li class="BH"><button class="botonModal naranja" id="b3" name="contents/emergentes/t1/t1_3_"><h2>MODAL 03</h2></button></li>
                <li class="BH"><button class="botonModal azul" id="b4" name="contents/emergentes/t1/t1_3_"><h2>MODAL 03</h2></button></li>
                <li class="BH"><button class="botonModal rosado" id="b5" name="contents/emergentes/t1/t1_3_"><h2>MODAL 03</h2></button></li>
          	</ul>  	
        </div>
        
    </div>
</div>