<script>
	escribe();
</script>

<div class="contenedor">
	<div class="arriba">
    	<div class="informacion">
            <h2 id="subTit">
            	&nbsp;
            </h2>
            <br/><br/>
            <p>Una media query consiste en un tipo de medio y al menos una consulta que limita las hojas de estilo utilizando características del medio como ancho, alto y color. Añadido en CSS3, las media queries dejan que la presentación del contenido se adapte a un rango específico de dispositivos de salida sin tener que cambiar el contenido en sí.
      	</div>
    </div>
    
    <div class="abajo">
        <div class="vid">
  			<iframe width="100%" height="100%" src="https://www.youtube.com/embed/yHzC44Efzlc" frameborder="0" allowfullscreen></iframe>
		</div>
    </div>
</div>