<script>
	escribe();
	ocultaRetro();
</script>

<div class="contenedor">
	<div class="full">
    	<div class="informacion txtCentrado">
            <h2 id="subTit">&nbsp;
            	
            </h2>
            <br/><br/>
            <p>A continuaci&oacute;n encontrar&aacute; una serie de opciones entre las cuales debe seleccionar la correcta.<br/><br/>¡Adelante!</p>
      	</div>
        <div class="informacion">
        	<div class="radioPregunta">
                <input type="radio" name="gato" id="frase1" onclick="if(this.checked==true) errado();">
                <label for="frase1">Es un gato un poco torpe y tiene mala suerte. Es maloso, valiente y rebelde. Se deja engañar con facilidad, pues es algo ingenuo.</label>
                <br/><br/>
                <input type="radio" name="gato" id="frase2" onclick="if(this.checked==true) errado();">
                <label for="frase2">Es un gato ingenuo, por eso se deja engañar con facilidad. Es valiente, maloso y rebelde. Tiene mala suerte y es un poco torpe. </label>
                <br/><br/>
                <input type="radio" name="gato" id="frase3" onclick="if(this.checked==true) acierta();">
                <label for="frase3">Es un gato rebelde, maloso y valiente. Tiene mala suerte y es un poco torpe. Se deja engañar con facilidad, pues es algo ingenuo.</label>
            </div>
        </div>
    </div>
    
    <div id="mal" class="retroMal">
        <button class="cierraRetro" name="mal" onclick="cierraVentana(this.name)">&nbsp;</button>
        <div class="textoRetro">
            Esta forma solventa el problema anterior, ya que no se necesita ningún margen lateral negativo ni superior tan grande. Además añade la ventaja de que no se necesita conocer de antemano los tamaños de los elementos a centrar:   
        </div>
    </div>
    
    <div id="bien" class="retroBien">
        <button class="cierraRetro" name="bien" onclick="cierraVentana(this.name)">&nbsp;</button>
        <div class="textoRetro">
            La clave está en la relación entre el valor en negativo del margen superior de la lista (es el elemento seleccionado para el ejemplo) y el line-height de los enlaces que conforman el menú (los elementos que se centran.  
        </div>
    </div>

</div>